@using WebShopApplication.Models
<style>
    body {
        background-color: cadetblue;
    }

    div {
        display: block;
        font-size: 150%;
        text-align: left;
    }

    label {
        color: cornsilk
    }

    a {
        font-family: fantasy;
        font-size: 160%;
        color: cadetblue;
        background-color: white;
    }

    .error {
        font-size: 150%;
        color: red;
        margin-left: auto;
        margin-right: auto;
    }

    table {
        background-color: bisque;
        font-family: fantasy;
        font-size: 30px;
        margin-left: auto;
        margin-right: auto;
        text-align: center;
    }

    td {
        padding: 0.7rem;
        border: 2px solid;
        border-color: black;
    }

    input {
        font-size: 22px;
    }

    .title {
        width: 10px;
        margin-left: auto;
        margin-right: auto;
        color: black;
        font-family: fantasy;
    }
</style>
<h1 class="options">Options:</h1>
<a href="~/Admin/ReviewProfile">Review Profile</a>
<br />
<a href="~/Admin/SellersCustomers">Review Sellers/Customers</a>
<br />
<a href="~/Admin/ReviewProducts">Review Products</a>
<br />
<a href="~/Admin/ReviewOrders">Review Orders</a>
<br />
<a href="~/Admin/Register">Register Seller</a>
<br />
<a href="~/Admin/Reviews">See Reviews</a>
<br />
<a href="~/Login/LogOut">Log Out</a>
<br />

<h1 class="title">Modify</h1>
<p class="error">@TempData["Msg"]</p>
<hr />

<div>
    @{
        string username = TempData["username"].ToString();
    }

    <form method="post" action="~/Admin/TryModifyUser">

        <table>

            <tr>
                <td>
                    <input type="hidden" name="username" value="@username" />

                    Password <input type="password" name="password" />
                </td>
            </tr>
            <tr>
                <td>
                    First Name <input type="text" name="first_name" />
                </td>
            </tr>
            <tr>
                <td>
                    Laste Name <input type="text" name="last_name" />
                </td>
            </tr>
            <tr>
                <td>
                    Email <input type="email" name="email" />
                </td>
            </tr>
            <tr>
                <td>
                    Gender
                    <select style="font-size:22px" name="gender">
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                    </select>
                </td>
            </tr>
            <tr>
                <td>
                    Date Of Birth <input type="date" name="date" />
                </td>
            </tr>
            <tr>
                <td>
                    <input type="submit" value="Modify User" />
                </td>
            </tr>
        </table>
    </form>
</div>

